.card {
  padding: 12px;
  border: 1px solid white;
  cursor: pointer;
}

.card:hover {
  border-color: rgb(232, 232, 232);
  box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
  border-radius: 1rem;
  border: 1px solid rgb(232, 232, 232);
}

.image-wrapper {
  height: 16rem;
  position: relative;
  display: flex;
}

.restaurant-image {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.restaurant-details {
  font-size: 1.2rem;
}

.discount-band {
  position: absolute;
  top: 218px;
  padding: 0px 8px;
  background: rgb(37, 111, 239);
  border-radius: 0px 2px 2px 0px;
  color: white;
}

.delivery-time {
  position: absolute;
  top: 218px;
  right: 12px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(0.4rem);
  font-size: 0.8rem;
  padding: 0.2rem;
  border-radius: 5px;
  color: rgb(54, 54, 54);
}

.name-and-rating-wrapper {
  display: flex;
  padding-top: 14px;
  justify-content: space-between;
  width: 100%;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(58, 183, 87);
  font-weight: 500;
  padding: 0px 5px;
  border-radius: 5px;
  gap: 0.1rem;
  /* margin-left: auto; */
}

.rating {
  font-weight: 600;
  font-size: 0.9rem;
}

.type-and-cost-wrapper {
  padding: 10px 0rem 14px;
  display: flex;
  justify-content: space-between;
  color: rgb(105, 105, 105);
  font-weight: 100;
  align-items: baseline;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.type {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}

.orders-placed {
  display: flex;
  color: rgb(130, 130, 130);
  font-size: 0.8rem;
  gap: 12px;
  align-items: center;
  padding: 1rem 0rem 0.5rem;
}

.orders-placed-image {
  height: 1rem;
}
