.food-list {
  display: flex;
  transition: transform 330ms ease-in-out;
}

.food-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.food-item {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  padding: 2rem 0rem;
  gap: 1rem;
  align-items: center;
}

.food-image {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}

.food-label {
  font-size: 1.3rem;
}

.hidden {
  visibility: hidden;
}

.arrow {
  position: absolute;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  border: 4px solid transparent;
}

.arrow.left {
  left: 0px;
  z-index: 2;
  top: 170px;
}

.arrow.right {
  right: 0px;
  z-index: 2;
  top: 170px;
}
