body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  position: relative;
}

*::after,
*::before,
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
