.max-width-wrapper {
  max-width: 1094px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  gap: 2.375rem 2.375rem;
}

.search-end-wrapper {
  display: flex;
  margin: 0px auto;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 146px;
}

.search-end {
  font-size: 1.5rem;
}

.search-end-image-wrapper {
  width: 8rem;
}

.search-end-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 810px) {
  .restaurant-list {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
}

@media (max-width: 550px) {
  .restaurant-list {
    grid-template-columns: 1fr;
  }
}
